.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);

  .inner {
    width: 2.5rem;
    background-color: #fff;
    .m-header {
      height: .38rem;
      background-color: #337ab7;
      color: #fff;
      text-align: center;
      line-height: .38rem;
      font-size: .16rem;
    }

    .content-wrapper {
      padding: .15rem;
    }
  }
}