.topic {
    font-size: .14rem;
    margin-bottom: .1rem;
}

.confirm-btn {
    width: 100%;
    margin-top: .4rem;
}

.text-area {
    width: 100%;
    min-height: 1rem;
    border: 1px solid #ddd;
    padding: .05rem;
}